NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqemdlZ3Bvcnd1enlvdm13bnd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NDA3NTksImV4cCI6MjA5MzAxNjc1OX0.K92iAP2XLBQQ8jzCUz5ruQTxgfytzjRxr6tFx4d93B8"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_679VleHi0x4BZt-8bu2oXA_CEuhu8c0"
NEXT_PUBLIC_SUPABASE_URL="https://kjzgegporwuzyovmwnwx.supabase.co"
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="db.kjzgegporwuzyovmwnwx.supabase.co"
POSTGRES_PASSWORD="urRKEKMOJmcuR93X"
POSTGRES_PRISMA_URL="postgres://postgres.kjzgegporwuzyovmwnwx:urRKEKMOJmcuR93X@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_URL="postgres://postgres.kjzgegporwuzyovmwnwx:urRKEKMOJmcuR93X@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_URL_NON_POOLING="postgres://postgres.kjzgegporwuzyovmwnwx:urRKEKMOJmcuR93X@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
POSTGRES_USER="postgres"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqemdlZ3Bvcnd1enlvdm13bnd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NDA3NTksImV4cCI6MjA5MzAxNjc1OX0.K92iAP2XLBQQ8jzCUz5ruQTxgfytzjRxr6tFx4d93B8"
SUPABASE_JWT_SECRET="BSHNwmUBjo7iWITzI3OOh++vADViGRqCmVATQ4hDD1BpmJIavGR0/MOyGr4tHXpq+kW6iy/hGmuHReHloPScZA=="
SUPABASE_PUBLISHABLE_KEY="sb_publishable_679VleHi0x4BZt-8bu2oXA_CEuhu8c0"
SUPABASE_SECRET_KEY="sb_secret_jbqEzsVkM1Fpn5I97TAifA_Uj1S6g0-"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqemdlZ3Bvcnd1enlvdm13bnd4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQ0MDc1OSwiZXhwIjoyMDkzMDE2NzU5fQ.rOrVnbmLdjBFmtykQQCltv49VW8upo5PKq38mTDgHzg"
SUPABASE_URL="https://kjzgegporwuzyovmwnwx.supabase.co"
